{{#if empty}}
  {{i18n 'search.no_results'}}
{{else}}
  {{theme-i18n "kb.search.results" count=count}}
  <table class="topic-list">
    <thead>
      <th>Topic</th>
    </thead>
    <tbody>
      {{#each filteredList as |item|}}
        <tr>
          <td class="main-link">
            <span class="link-top-line">
              <a href="/t/{{item.id}}">{{item.title}}</a>
            </span>
            <span class="link-bottom-line">
              {{#each item.tags as |tag|}}
                <span class="discourse-tag">{{tag}}</span>
              {{/each}}
            </span>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}
